
[*]

# ReSharper properties
resharper_csharp_insert_final_newline=true
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_keep_existing_linebreaks=false
resharper_max_formal_parameters_on_line=3
resharper_wrap_before_declaration_rpar=true
